body{
    background-color: rgba(5, 51, 36, 0.904);

}
.table-fixed tbody{
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th{
    display: block;
}

.table-fixed tbody td,
.table-fixed thead > tr > th{
    float: left;
    border-bottom-width: 0;

}

.contenido{
    color: aqua;
}

