h1{
    font-size: larger;
    font-style: italic;
}
p{
    border-style: dotted;
}

.container{
    background-color: rgba(136, 174, 199, 0.609);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}